<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div> 
         
         <title>パスワード再設定</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
    <div class="container py-4 nagoyameshi-container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
                <h1 class="mb-4 text-center">パスワード再設定</h1>
                <p class="mb-4">ご登録のメールアドレスを入力してください。パスワード再設定用のURLをお送りします。</p>
                <form method="POST" action="https://nagoyameshi-pattern-1.herokuapp.com/password/email">
                    <input type="hidden" name="_token" value="dL1R0ytFvJUnbOy2qK0U2aPuhJ51yloFUQ9VT3qTO">
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" id="email" name="email" value required autocomplete="email" placeholder="メールアドレス">
                    </div>
                    <div class="form-group d-flex justify-content-center mb-4">
                        <button type="submit" class="btn btn-primary text-white shadow-sm w-100">送信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>         
     </body>
 </html>