<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title>会社情報の編集</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-7 col-md-8">

						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/admin/companies}">会社概要</a></li>
								<li class="breadcrumb-item active" aria-current="page">会社情報編集</li>
							</ol>
						</nav>
						<h1 class="mb-4 text-center">会社情報の編集</h1>
						<form th:action="@{/admin/companies/__${companyEditForm.id}__/update}"
							th:object="${companyEditForm}" method="post" enctype="multipart/form-data">
							<input type="hidden" th:field="*{id}">

							<!-- 以下のフォームグループは、店舗情報編集フォームのスタイルと一致するように調整されています。 -->
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="name" class="col-form-label text-md-left fw-bold">会社名</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2"
										th:errors="*{name}"></div>
									<input type="text" class="form-control" th:field="*{name}" autofocus>
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="address" class="col-form-label text-md-left fw-bold">所在地</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('address')}" class="text-danger small mb-2"
										th:errors="*{address}"></div>
									<input type="text" class="form-control" th:field="*{address}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="representative" class="col-form-label text-md-left fw-bold">代表者</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('representative')}" class="text-danger small mb-2"
										th:errors="*{representative}"></div>
									<input type="text" class="form-control" th:field="*{representative}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="foundingDate" class="col-form-label text-md-left fw-bold">設立</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('foundingDate')}" class="text-danger small mb-2"
										th:errors="*{foundingDate}"></div>
									<input type="text" class="form-control" th:field="*{foundingDate}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="capital" class="col-form-label text-md-left fw-bold">資本金</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('capital')}" class="text-danger small mb-2"
										th:errors="*{capital}"></div>
									<input type="text" class="form-control" th:field="*{capital}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="business" class="col-form-label text-md-left fw-bold">事業内容</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('business')}" class="text-danger small mb-2"
										th:errors="*{business}"></div>
									<input type="text" class="form-control" th:field="*{business}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="numberOfEmployees"
										class="col-form-label text-md-left fw-bold">従業員数</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('numberOfEmployees')}"
										class="text-danger small mb-2" th:errors="*{numberOfEmployees}"></div>
									<input type="text" class="form-control" th:field="*{numberOfEmployees}">
								</div>
							</div>


							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>