<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Meta and Styles -->
	<th:block th:replace="~{fragment :: meta}"></th:block>
	<th:block th:replace="~{fragment :: styles}"></th:block>
	<title>会社概要ページ</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<!-- スタイルクラスを修正 -->
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/admin/index}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">会社概要</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center">会社概要</h1>


						<div class="container mb-4">
							<div th:each="company : ${companies}">

								<div class="d-flex justify-content-end align-items-end mb-3">
									<div>
										<a th:href="@{/admin/companies/__${company.getId()}__/edit}">編集</a>
									</div>
								</div>

								<div th:if="${successMessage}" class="alert alert-info">
									<span th:text="${successMessage}"></span>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">会社名</span>
									</div>

									<div class="col">
										<span th:text="${company.getName()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">所在地</span>
									</div>

									<div class="col">
										<span th:text="${company.getAddress()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">代表者</span>
									</div>

									<div class="col">
										<span th:text="${company.getRepresentative()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">設立</span>
									</div>

									<div class="col">
										<span th:text="${company.getFoundingDate()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">資本金</span>
									</div>

									<div class="col">
										<span th:text="${company.getCapital()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">事業内容</span>
									</div>

									<div class="col">
										<span th:text="${company.getBusiness()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">従業員数</span>
									</div>

									<div class="col">
										<span th:text="${company.getNumberOfEmployees()}"></span>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>

		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>