<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Meta and Styles -->
	<th:block th:replace="~{fragment :: meta}"></th:block>
	<th:block th:replace="~{fragment :: styles}"></th:block>
	<title>会社概要ページ</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<!-- スタイルクラスを修正 -->
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">利用規約</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center">利用規約</h1>


						<div class="container mb-4">
							<div th:each="term : ${terms}">

								<div class="d-flex justify-content-end align-items-end mb-3">

								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div>
										<span
											class="fw-bold">この利用規約（以下、「本規約」といいます。）は、NAGOYAMESHI株式会社（以下、「当社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</span>
									</div>

									<div>
										<span th:text="${term.getContent()}"></span>
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>
			</div>

		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>